{% extends "gardens/details.html" %}
{% load static %}

{% block garden_detail_content %}
    <div class="m-2 details-field-extern">
        <div class="details-field-intern">

            <h1 class="font-medium capitalize text-2xl">activités</h1>
            {% if activities %}
                {% include 'activities/partials/table.html' with objects=activities %}
            {% else %}
                <p>Pas de fertilisation</p>
            {% endif %}
        </div>
    </div>
    <div class="m-2 details-field-extern">
        <div class="details-field-intern">
            <h1 class="font-medium capitalize text-2xl">Détails</h1>
            <div id="activity-description">
                Sélectionner une activité pour voir les détails...
            </div>
        </div>
    </div>
{% endblock %}