{% extends 'base.html' %}

{% block content %}
    <main class="grid grid-cols-4 h-full w-full">

        <div class="bg-green-200">
            <ol>
                <li>Fertilisation</li>
                <li>Fertilisation</li>
            </ol>

        </div>
        <div class="bg-orange-600 col-span-3" id="detail-content">
            <h1 class="text-2xl font-bold">{{ garden.name}}</h1>
            <p>
                <span>{{ garden.description }}</span>
                <span>{{ garden.updated }}</span>
            </p>
            <div>Test

            </div>

        </div>


    </main>
{% endblock %}