{% extends "base.html" %}

{% block content %}
    <h1>{{ object.name }}
        {% if object.get_edit_url %}
            <small>
                <a href="{{ object.get_edit_url }}">Edit</a>
                <a href="{{ object.get_delete_url }}">Delete</a>
            </small>
        {% endif %}
    </h1>
    <div class="garden-desc">
        <h2>Description du jardin</h2>
        <p>{{ object.description }}</p>
    </div>
    <div id="garden-report">
        <h2>Mes Amendements</h2>
        <table>
            <thead>
            <tr>
                <th>Fertilisant</th>
                <th>Type</th>
                <th>Épandu le</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for fertilization in object.get_fertilizations_children %}
                {% include 'gardens/partials/fertilization-inline.html' with object=fertilization %}
            {% endfor %}
        </table>

    </div>
{% endblock %}