{% extends 'base.html' %}

{% block content %}
    <div class="flex flex-row flex-nowrap">

        <div class="flex-none bg-green-200 basis-1/12">
            <ol class="cursor-pointer">
                <li><a href="{% url 'gardens:detail' slug=garden.slug %}">Home</a></li>
                <li><a href="{% url 'gardens:activities:index' garden_slug=garden.slug %}">Entretien</a></li>
                <li><a>Calendrier</a></li>
            </ol>
        </div>

        <div id="detail-content" class="flex-auto bg-green-600 basis-11/12">
            <div class="rounded-md bg-gray-100 p-2">

                <h1 class="text-2xl font-bold">{{ garden.name }}</h1>
                <p class="text-xs font-light italic">
                    <span>Dernière mise à jour: {{ garden.get_last_update }}</span>
                </p>
                <p>{% include 'gardens/partials/garden-address.html' %}</p>
            </div>


            <div class="bg-orange-600">
                {#                # TODO: For Home Implement Stepper with form https://flowbite.com/docs/components/stepper/#}
                {% block garden_detail_content %}
                    <div class="border-t-2 border-gray-600 m-2">
                        <h2 class="font-bold text-sm">Voici votre description concernant le jardin</h2>
                        <div>{{ garden.description }}</div>
                    </div>
                {% endblock garden_detail_content %}
            </div>
        </div>


    </main>
{% endblock %}