{% extends 'base.html' %}

{% block content %}
    <main class="grid grid-cols-4 h-full w-full">

        <div class="bg-green-200">
            <ol>
                <li>Fertilisation</li>
                <li>Calendar</li>
            </ol>

        </div>
        <div class="col-span-3" id="detail-content">
            <div class="rounded-md bg-gray-100 p-2">

                <h1 class="text-2xl font-bold">{{ garden.name }}</h1>
                <p>
                    <span>Dernière mise à jour:</span>
                    <span>{{ garden.get_last_update }}</span>
                </p>
            </div>
            <div class="border-t-2 border-gray-600 m-2">
                <h2 class="font-bold text-sm">Voici votre description concernant le jardin</h2>
                <div>
                    {{ garden.description }}</div>
            </div>
            <div>Test

            </div>

        </div>


    </main>
{% endblock %}