{% extends "base.html" %}
{% load static %}

{% block content %}
    <main>
        <article>
            <h1>Mes Jardins</h1>

            <div id=garden-cards class="mt-8 grid lg:grid-cols-3 gap-10">
                {% include 'gardens/partials/cards.html' %}
                <!-- Garden cards -->
                <div>
                    <div>
                        <span></span>
                        <span></span>
                    </div>
                </div>

            </div>
        </article>
    </main>

    <aside>
        {#    TODO: Will contains the information related to the user#}
    </aside>

{#    <div>#}
{#        <h1>My gardens</h1>#}
{#    </div>#}
{#    <section>#}
{#        <div hx-get="{% url 'gardens:create' %}" hx-trigger="load" hx-target="this">#}
{#        </div>#}
{#        <div>#}
{#            <!-- Garden List -->#}
{#        </div>#}
{#    </section>#}
{#    <!-- Garden Edit -->#}
{#    <section class="garden-section">#}
        {#        Garden Details#}
{#        <div id="garden-update-create"></div>#}
{#    </section>#}

    <!-- Add popup to edit -->
    <script src="{% static 'js/custom/gardens.js' %}"></script>

{% endblock content %}