{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="ml-4 mr-4">
        <h1 class="flex justify-center m-2 p-4 font-bold text-3xl border-b-2 uppercase">
            Mes Jardins
        </h1>
    <div class="htmx-indicator">Updating...</div>
        <div id='garden-list' class="mt-4 grid sm:grid-cols-4 gap-10">
            <!-- Garden cards -->
            {% include 'gardens/partials/cards.html' %}
        </div>
    </main>

    <aside>
        {#    TODO: Will contains the information related to the user#}
    </aside>

{% endblock content %}