{% if not gardens.exists %}
    <div>
        <span>You do not have any garden yet.</span>
        <span>Click on 'Add Garden' to create your first garden</span>
    </div>
{% else %}

    {% for garden in gardens %}
        <!-- Garden card -->
        <div class='garden-card hover:shadow-lg'
             data-url={{ garden.get_absolute_url }}>
            <img src="https://picsum.photos/id/110/100"
                 alt="card-picture"
                 class="h-20 sm:h-32 w-full object-cover">
            <div class="m-4">
                <span class="font-bold truncate block">{{ garden.name }}</span>
                <span class="block text-gray-500 text-sm">{{ garden.description }}</span>
            </div>
        </div>
    {% endfor %}
{% endif %}