{% load widget_tweaks %}

{% if garden.has_address %}
    <div>
        <address>
            <p>{% render_field address.street %}</p>
            <p>
                {% if address.state %}
                    {% render_field address.state %}, {% render_field address.postal_code %} -
                    {% render_field address.city %}
                {% else %}
                    {% render_field address.postal_code %} - {% render_field address.city %}
                {% endif %}
            </p>
        </address>
    </div>
{% else %}
    No address available.
{% endif %}
