{% extends "base.html" %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login">
            </form>
            <p>Need an account? Please <a href="{% url 'accounts:register' %}">register</a></p>
        </div>
    {% else %}
        <p>You´re already logged in. Would you like to <a href="{% url 'accounts:logout' %}">log out</a>? </p>
    {% endif %}
{% endblock %}