{% load static %}

<nav class="text-right">
    <a href="{% url 'home' %}">
        <img class="w-24 rounded-full" src="{% static 'img/logo.png' %}" alt="MyLittleGarden">
    </a>
    <div id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gardens:list' %}">Gardens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>