{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% django_htmx_script %}
    <meta charset="UTF-8">
    <title>My Little Garden</title>
</head>
<body>
    <nav>
        <a class='nav-cat-1' href="{% url 'home' %}">Home</a>
        <a class='nav-cat-1' href="{% url 'gardens:list' %}">Jardins</a>
        <a class='nav-cat-2' href="#">Mes fertilisations</a>

    </nav>
        {% block content %}
        <h3>This will be replaced</h3>
        {% endblock content %}
</body>
</html>